CREATE DATABASE {{ nextcloud_dbs_name }};
CREATE USER {{ nextcloud_dbs_user }} WITH ENCRYPTED PASSWORD '{{ postgres_nextcloud_pass }}';
GRANT ALL PRIVILEGES ON DATABASE {{ nextcloud_dbs_name }} TO {{ nextcloud_dbs_user }};
